@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&family=Teko:wght@600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background: rgb(87, 88, 87);
  background: linear-gradient(322deg, rgba(88, 88, 88, 1) 10%, rgba(33, 33, 33, 1) 90%);
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: column;
  height: 732px;
  align-items: flex-start;
  background-image: url("img/fundoinicial.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-container img {
  width: 350px;
  height: 250px;
}

.banner-phrase {
  align-self: center;
  margin-top: 220px;
}

.menu {
  width: 100%;
  height: 50px;
  font-family: 'Arial';
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: center;
}

.menu ul {
  list-style: none;
  position: relative;
}

.menu ul li {
  float: right;
}

.menu a {
  padding: 5px 20px;
  display: block;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: #9678d3;
  border-radius: 30px;
  font-family: 'Archivo Narrow';
  font-size: 1.1rem;
  margin-right: 10px;
}

.menu ul ul {
  position: absolute;
  visibility: hidden;
  list-style: none;
}

.menu ul li:hover ul {
  visibility: visible;
}

.menu ul ul li {
  float: none;
  margin-bottom: 50px; /* Ajuste a margem inferior conforme necessário */
}

.menu ul ul li a {
  background-color: rgb(41, 72, 157);
  border-radius: 10px;
  list-style: none;
  margin-bottom: 5px; /* Ajuste a margem inferior conforme necessário */
}

.button_menu {
  height: 45px;
  width: 45px;
  margin-right: 25px;
  background-color: #2F2F2F;
}

.button_menu:hover {
  background-color: #686868;
  transition: 0.3s;
}

/*CSS Banner*/
h1, h2 {
  font-size: 3rem;
  color: #9678d3;
  font-family: 'Teko', sans-serif;
  text-shadow: 5px 2px 10px #2F2F2F;
  font-weight: 400;
}

.banner h1 {
  width: 100px;
  margin-right: 20px;
}

main {
  padding: 0 30px;
}

/*CSS sessao_Planos*/
.sessao_planos {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  margin-top: 80px;
  text-shadow: 1px 3px 15px #000;
  align-self: center;
}

hr {
  margin: 80px 0;
  box-shadow: 0px 4px 4px #000;
}

.planos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 40px;
  margin-bottom: 70px;
}

.planos div {
  flex: 1 1 30%;
  background-color: #D9D9D9;
  box-shadow: 30px 40px 20px rgba(22, 22, 22, 0.527);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.planos img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.planos h3 {
  padding: 10px;
  margin: 0;
  text-align: center;
  font-family: 'Teko', sans-serif;
  font-size: 2.5rem;
  background-color: #9678d3;
  color: white;
  width: 100%;
}

.planos button {
  height: 50px;
  width: 100%;
  color: #D9D9D9;
  background-color: #9678d3;
  border: none;
  font-family: 'Teko', sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
}

.planos button:hover {
  background-color: black;
  color: #9678d3;
  transition: 0.5s;
}

/*CSS sessao_hard_skill*/
.sessao_skill {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fotos {
  margin-bottom: 20px;
  gap: 20px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 800px;
}

.fotos div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  overflow: hidden;
}

.fotos img {
  max-width: 150px;
  max-height: 150px;
  width: auto;
  height: auto;
  object-fit: contain;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.fotos img:hover {
  transform: scale(0.9);
  box-shadow: 0 0 20px rgba(150, 120, 211, 0.8);
}

/* CSS para a seção quem somos */
.descricao_quem_somos {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.descricao_texto {
  width: 50%; /* Ajuste conforme necessário */
  padding: 10px; /* Adicione padding para espaçamento interno */
}

.descricao_texto h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
  text-shadow: none;
  align-self: flex-start;
}

.descricao_texto p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: #fff;
}

.descricao_foto {
  width: 50%; /* Ajuste conforme necessário */
  text-align: center;
  padding: 10px; /* Adicione padding para espaçamento interno */
}

.descricao_foto img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.descricao_foto img:hover {
  transform: scale(1.1);
}

/* Redes Sociais */
.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.social h4 {
  font-family: 'Teko', sans-serif;
  color: #9678d3;
  font-size: 35px;
}

.social-icons {
  display: flex;
  gap: 30px;
}

.social-icons a {
  display: inline-flex;
  background-color: #2B2B2B;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 0.4s, transform 0.4s, box-shadow 0.4s;
  font-size: 24px;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.social-icons a:hover {
  transform: scale(1.2);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.social-icons a i {
  color: currentColor;
}

/* Footer */
footer {
  background-color: #2B2B2B;
  width: 100%;
  padding: 50px 0;
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.info div {
  flex: 1 1 30%;
  margin-bottom: 20px;
}

.info h4 {
  font-family: 'Teko', sans-serif;
  color: #9678d3;
  font-size: 1.5rem;
}

.info a, .info p {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875rem;
  color: white;
  text-decoration: none;
}

.info a:hover, .info p:hover {
  color: #9678d3;
  transition: 0.5s;
}

.info ul {
  list-style: none;
}

/* Scrollbar */
body::-webkit-scrollbar {
  width: 17px;
}

body::-webkit-scrollbar-track {
  background: #2B2B2B;
}

body::-webkit-scrollbar-thumb {
  background-color: #9678d3;
  border-radius: 20px;
  border: 3px solid #9678d3;
}

/* Responsividade Footer */
@media (max-width: 600px) {
  .nav-container, .footer {
    flex-direction: column;
    text-align: center;
  }

  .menu ul li {
    display: block;
    margin: 5px 0;
  }

  .descricao_quem_somos {
    flex-direction: column;
  }

  .descricao_foto {
    width: 100%;
    text-align: center;
  }

  .descricao_foto img {
    width: 80%;
    height: auto;
  }

  .sessao_planos, .sessao_skill {
    padding: 10px;
  }

  .planos div, .fotos div {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .nav-container, .footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .menu ul {
    display: flex;
    flex-direction: row;
  }

  .menu ul li {
    display: inline;
    margin-right: 20px;
  }

  .descricao_quem_somos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .descricao_foto {
    width: 40%;
  }

  .descricao_foto img {
    width: 100%;
    height: auto;
  }

  .sessao_planos, .sessao_skill {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .planos div, .fotos div {
    width: 48%;
    margin-bottom: 10px;
  }
}

@media (min-width: 1025px) {
  .nav-container, .footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .menu ul {
    display: flex;
    flex-direction: row;
  }

  .menu ul li {
    display: inline;
    margin-right: 20px;
  }

  .descricao_quem_somos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .descricao_foto {
    width: 40%;
  }

  .descricao_foto img {
    width: 100%;
    height: auto;
  }

  .sessao_planos, .sessao_skill {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .planos div, .fotos div {
    width: 30%;
    margin-bottom: 10px;
  }
}
